--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
nvidia-cudnn-cu12==9.1.0.70

mne
mne-bids
transformers
diffusers
pandas
pyarrow
numpy
scipy
accelerate
pillow
huggingface_hub
requests
openneuro-py
zuna
qwen-vl-utils
faiss-cpu
